

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.home-css  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Roboto", system-ui;
  font-weight: 500;
  font-size: 26px;
  font-style: normal;
  height: 65vh;
}

.home-css img {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 400px;
    height: 350px;
    margin-bottom: 20px;
}

@media screen and (min-width: 900px)and (main-width: 950px) {
  .home-css {
    font-size: 20px;
    height: 70vh;
  }
  .home-css img {
    width: 300px;
    height: 250px;
  }
  
}

@media screen and (max-width: 600px) {
  .home-css {
    font-size: 15px;
    height: 80vh;
  }
  .home-css img {
    width: 250px;
    height: 200px;
  }
}